*
{
    margin: 0%;
    padding: 0%;
    font-family: Oswald, sans-serif;
    color: #1d90e7;
}


.form
{
    width: 400px;
    margin: auto;
    border: 5px solid #1d90e7;
    padding: 30px;
    background: #f0f0f0;
    border-radius: 10px;
}

.invoice
{
    width: 400px;
    margin: auto;   
    border: 2px solid #4CAF50;
    padding: 30px;
    background: #e8f5e9;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
    font-style: bold;
    font-size: 18px;
}